* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.home-container {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("img/pexels-porapak-apichodilok-370474.jpeg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 25%;
    box-sizing: border-box;
    overflow: hidden;
}
.assign-container {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("img/pexels-cottonbro-4065906.jpeg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 25%;
    box-sizing: border-box;
    overflow: hidden;
}
.llnotes-container {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("img/pexels-polina-zimmerman-3747142.jpeg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 25%;
    box-sizing: border-box;
    overflow: hidden;
}
.aboutme-container {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("img/pexels-scott-webb-305833.jpeg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 25%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;

}
p a {
    color: white;

}
p a:hover {
    color: lightgreen;
}
nav ul li a:hover {
    color: lightgreen;
}
nav ul li a.active {
    color: lightgreen;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1 {
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2 {
    font-size: 54px;
    color: white;
}
.col-1 h3 {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}
button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #1E6E12, #45A700);
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s;
    margin-top: 40px;
}
button:hover {
    transform: translateY(-10px);
}
.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#1E6E12, #45A700);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.social-links img {
    height: 30px;
    margin: 20px;
    cursor: pointer;
}
.social-links {
    text-align: center;
}
@media only screen and (max-width: 700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#1E6E12, #45A700);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}
